@charset "UTF-8";

#body {
    width: 100%;
    height: 600px;
    background-color: blue;
}

#title 
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    text-align: center;
}

#logo {
display: block;
    margin: 0 auto;
    text-align: center;
}

.p {
    color: red;
}
